.bier-banner{
    background-image: url("../image/bier banner.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
    /*transform: scaleX(-1);*/
}

.bier-text{
    width: 60%;
    margin: 3% 20%;
}

.bier{
    display: flex;
    justify-content: space-around;
    margin: 5% 6% 2% 6%;
}

.bier img{
    flex-grow: 1;
    margin-right: 30px;
    height: 26vh;
}

.ons-bier-text{
    width: 40vw;
    flex-grow: 3;
}

.text{
    margin-left: 13%;
}

.text p{
    margin-bottom: 20px;
}
