footer{
    display: flex;
    background-color: var(--zwart);
    width: 100%;
    height: 30vh;
    color: #ffffff;
    justify-content: space-around;
    padding-top: 3%;
}

footer a{
    color: #ffffff;
    text-decoration: none;
}

.footer-info{
    /*margin: 0px 30px;*/
}

.footer-info img{
    width: 5vw;
    height: 8vh;
}

.icon{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.icon img{
    width: 50px;
    height: 50px;
    /*margin-right: 15px;*/
}

.beneden{
    padding-top: 4%;
}

.flex{
    display: flex;
    margin-bottom: 10px;
}

.flex img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.link{
    display: flex;
    flex-direction: column;
}

.beneden a:hover{
    color: var(--oranje);
}

.footer-nieuws input[type=email] {
    width: 100%;
    padding: 10px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
}

.footer-nieuws input[type=submit] {
    width: 50%;
    padding: 8px 4px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    font-family: 'PoppinsBold', sans-serif;
    background-color: #ffffff;
    color: var(--blauw);
}

.footer-nieuws input[type=submit]:hover {
    color: #ffffff;
    background-color: var(--blauw);
}