nav{
    background-color: #0C0D10;
    width: 100%;
    overflow: hidden;
    /*display: flex;*/
    /*justify-content: space-between;*/
}

nav ul{
    display: flex;
    justify-content: space-around;
}

ul li{
    /*float: left;*/
    /*text-align: center;*/
    padding: 14px 16px;
    /*text-decoration: none;*/
    font-size: 17px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li a{
    color: #fff;
    text-decoration: none;
}

ul li a img{
    width: 5vw;
    height: 7vh;
}