nav{
    background-color: #0C0D10;
    width: 100%;
    overflow: hidden;
}

nav ul{
    display: flex;
    justify-content: space-around;
}

ul li{
    font-size: 17px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li a{
    color: #fff;
    text-decoration: none;
}

ul li a img{
    width: 6vw;
    /*height: 6vh;*/
}

nav ul li:nth-child(1){
    margin-right: 25%;
}

.winkelwagen{
    width: 30px;
}