.ons-banner {
    background-image: url("../image/over ons banner.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
}

.team{
    text-align: center;
    margin: 5% 0;
}

.brouwerij{
    display: flex;
    justify-content: center;
    margin: 1% 10%;
}

.brouwerij img{
    margin-right: 3%;
}

.brouwerij-text{
    width: 50%;
}

.history{
    margin: 3% 10%;
}

.folder{
    margin: 5%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.folder img{
    width: 20vw;
    height: 20vh;
}

/* GRID IMAGES*/
.image-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
    "a a b"
    "c d b" ;
    gap: 20px;
    width: 72%;
    height: auto;
    margin: 0 auto;
}

.image-box img{
    width: 100%;
}
.box1 {
    grid-area: a;
}
.box2 {
    grid-area: b;
    background-size: contain;
    height: 100%;
}
.box3 {
    grid-area: c;

}
.box4 {
    grid-area: d;
}

.main{
    margin-bottom: 5%;
}